@font-face {
    font-family: RandyGG;
    src: url('fonts/RandyGGRegular.ttf');
}

@font-face {
    font-family: RandyGG;
    font-weight: bold;
    src: url('fonts/RandyGGBold.ttf');
}

* {
    margin: 0;
    font-family: RandyGG;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    /* background-color: #212129; */

    /* background: #212129; */

}

body {
    overflow: hidden;
}

button {
    padding: 0.3rem;
    background: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 100px;
    width: 50px;
    border: none;
}

h1 {
    color: #eeebf0;
}

h2 {
    color: #d6d3d8;
}

li {
    align-self: center;
    padding-left: 5px;
    margin: 10px;
    list-style: none;

}

p,
li {
    color: #a6a4a8;
}

ul {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
}

/*----Customs---*/

.gallery {
    color: white;
    background-color: #212129;
}

.gallery a {
    text-decoration: none;
    padding: 10px;
    top: 50%;
}

.gallery button {
    position: absolute;
    left: 0;
}

.gallery-entry {
    height: 100vh;
    padding: 5% 25%;
    background-color: #212129;
    overflow-y: auto;
}

.gallery-entry h1 {
    text-align: center;
}

.gallery-entry h2 {
    padding-top: 20px;
    font-weight: bold;
}

.gallery-entry h3 {
    font-weight: initial;
}

.gallery-entry p {
    padding-top: 20px;
}

.gallery-container {
    position: relative;
    padding: 10px;
    /* width: auto;
  height: auto; */
    border: 2px solid #ffffff;
    /* margin: 200px auto; */
}

.goBack {
    color: aqua;
    border: white;
    position: absolute;
    bottom: 0;
}

.vl {
    border-left: 2px solid white;
    height: 275px;
    position: absolute;
    margin-left: -3px;
    background: transparent;

}

.container {
    height: 100vh;
    width: 300vw;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease 0.1s;

}

.container>div {
    height: 100vh;
    width: 100vw;

    /* This flex is causing the issue of side-by-side text */
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
}

.about {
    background-color: #212129;
}

.about .toHome {
    background-image: url('media/rightHome.png');
    right: 0;
    position: absolute;
}

.about h1 {
    color: white;
    top: 5%;
    position: absolute;
}

.about td {
    padding: 10px;
    /* border-style:groove; */
    text-align: center;
}

.about td:nth-child(2) {
    padding: 0px 50px;
}

.about a {
    text-decoration: none;
    color: inherit;
}

.about h1 {
    position: absolute;
    top: 15%;
}

.about table {
    border: transparent;
}

.about .vl {
    position: relative;
    height: 500px;
    position: relative;
}



.splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/longExposure.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash h1 {
    color: white;
}

.splash button:nth-child(1) {
    position: absolute;
    left: 0;
    background-image: url('media/downAbout.png');
}

.splash button:nth-child(3) {
    /* Button to gallery*/
    position: absolute;
    right: 0;
    background-image: url('media/rightGallery.png');
}


.gallery .toHome {
    background-image: url('media/leftHome.png');
    z-index: 999;
}

.toHome {
    background-image: url('media/upHome.png');
}


.toGallery {
    right: 0;
    transform: translateX(-100vw);
}

.toAbout {
    transform: translateX(100vw);
}

/* Gallery CSS */
img {
    vertical-align: middle;
}

.secondary-container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 30%;
    border-radius: 3px 0 0 3px;
}
.prev{
    right: 69%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 16px;
    /* padding: 8px 12px; */
    position: absolute;
    top: 40%;
    left:29%
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.title{
    color: white;
    font-size: 25px;
    z-index: 100;
    text-align: center;
}